<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="listener_pakage.Listener_class" />
	</listeners>
	<test thread-count="5" name="Test1">
		<classes>
			<class name="testng_packages.Testcase_Datadriven" />
		</classes>
	</test> <!-- Test -->
	<test name="test2">
		<classes>
			<class name="testng_packages.Testcases_login_dashboard" />
		</classes>
	</test>
	<test name="test3">
		<classes>
			<class name="testng_packages.Testcases_AdminUsers" />
		</classes>
	</test>
	<test name="test4">
		<classes>
			<class name="testng_packages.Testcase_myinfo" />
		</classes>
	</test>
</suite> <!-- Suite -->